.bg {
    background-image: radial-gradient(73% 147%, #1C2C45 59%, rgba(59, 90, 145, 0.57) 100%), radial-gradient(91% 146%, rgba(255, 255, 255, 0.50) 47%, rgba(0, 0, 0, 0.50) 100%);
    background-blend-mode: screen;
    border: black;
    padding-bottom: 1rem;
}

.header {
    background-color: rgb(28, 44, 69);
    color: white;
    padding: 1rem ;
}

h2 {
    margin-top: 1.5rem;
    text-align: left;
    width: 100%;
    color: #1B1B1B;
    font-weight: 300;
    font-size: 1.5em;
    margin-bottom: 10px;
    font-family: 'Inter var', system-ui, sans-serif;
}

label {
    display: block;
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
