.order-details-container {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px 20px auto;
    background-color: aliceBlue;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
}

.order-info {
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 1rem;
}

.address-container {
    display: grid;
    grid-template-columns: 1fr;
}

.entries-container {
    margin-top: 20px;
}

.entries-heading {
    font-size: 1.5em;
    color: #333;
}

.entries-list {
    list-style-type: none;
    padding: 0;
    flex: 1 1 auto;
}

.product-card {
    padding: 1rem;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 1rem;
}

@media(min-width:576px) {
   .product-card {
       flex-direction: row;
   }
    .image-container {
        max-width: 40%;
    }
    .address-container {
        grid-template-columns: repeat(2, 1fr);
    }
    .order-info {
        grid-template-columns: repeat(2, 1fr);
    }
}
.product {
    font-weight: bold;
}

.product-image {
    min-height: 100%;
    margin-right: 10px;
    object-fit: cover;
}
.product-details {
    flex-grow: 1;
}


.price .product .amount{
    margin: 5px 0;
}

.address {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 20px;
}

.payment {
    margin-top: 10px;
    margin-bottom: 10px;
}

.title {
    font-weight: bold;
    font-size: 1.2em;
    color: #333;
    margin-bottom: 10px;
}

.separator {
    height: 1px;
    background-color: black;
    border: none;
}
